<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Text Summarization</title>
    <link rel="stylesheet" href="style.css" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Roboto&family=Ubuntu:wght@400;700&display=swap"
      rel="stylesheet"
    />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Montserrat&display=swap"
      rel="stylesheet"
    />
    <script defer src="script.js">
    </script>
  </head>
  <body>
    <div class="backdrop hide">
      <div class="box">
          <div class="circle"></div>
          <p class="loadingtext">Loading</p>
      </div>
    </div>
    <!-- <div class="circle2"></div> -->
    <div class="container">
      <div class="title">Text Summarization</div>
      <form class="form-container" action="/" method="POST">
        <input
          class="para-title-inp"
          type="text"
          name="title"
          id=""
          placeholder="Title Goes here...."
        />
        <textarea
          class="para-inp"
          name="para"
          id=""
          placeholder="Paragraph Goes here...."
        ></textarea>
        <button class="btn" type="submit">Result</button>
      </form>
    </div>
    <footer class="footer">Made With ❤️ By Rajat and Rahul</footer>
  </body>
</html>